# This file contains the code owners for the dbt-core repo.
# PRs will be automatically assigned for review to the associated
# team(s) or person(s) that touches any files that are mapped to them.
#
# A statement takes precedence over the statements above it so more general
# assignments are found at the top with specific assignments being lower in
# the ordering (i.e. catch all assignment should be the first item)
#
# Consult GitHub documentation for formatting guidelines:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# As a default for areas with no assignment,
# the core team as a whole will be assigned
*       @dbt-labs/core

# Changes to GitHub configurations including Actions
/.github/ @leahwicz

# Language core modules
/core/dbt/config/     @dbt-labs/core-language
/core/dbt/context/    @dbt-labs/core-language
/core/dbt/contracts/  @dbt-labs/core-language
/core/dbt/deps/       @dbt-labs/core-language
/core/dbt/parser/     @dbt-labs/core-language

# Execution core modules
/core/dbt/events/     @dbt-labs/core-execution @dbt-labs/core-language # eventually remove language but they have knowledge here now
/core/dbt/graph/      @dbt-labs/core-execution
/core/dbt/task/       @dbt-labs/core-execution

# Adapter interface, scaffold, Postgres plugin
/core/dbt/adapters    @dbt-labs/core-adapters
/core/scripts/create_adapter_plugin.py    @dbt-labs/core-adapters
/plugins/             @dbt-labs/core-adapters

# Global project: default macros, including generic tests + materializations
/core/dbt/include/global_project    @dbt-labs/core-execution @dbt-labs/core-adapters

# Perf regression testing framework
# This excludes the test project files itself since those aren't specific
# framework changes (excluded by not setting an owner next to it- no owner)
/performance @nathaniel-may
/performance/projects
