freezegun==0.3.12
pytest==5.4.3
flake8>=3.5.0
pytz==2017.2
bumpversion==0.5.3
tox==3.14.4
virtualenv==20.0.3
six>=1.14.0
ipdb
pytest-xdist>=1.28.0,<2
flaky>=3.5.3,<4
mypy==0.782
wheel
twine
pytest-logbook>=1.2.0,<1.3
git+https://github.com/fishtown-analytics/hologram.git@mashumaro-support
git+https://github.com/fishtown-analytics/dbt-mashumaro.git@dbt-customizations
jsonschema
