argparse>=1.2.1
Jinja2>=2.8
pytz==2017.2
PyYAML>=3.11
psycopg2==2.7.5
sqlparse==0.2.3
networkx==1.11
snowplow-tracker==0.7.2
celery==3.1.23
snowflake-connector-python>=1.4.9
colorama==0.3.9
google-cloud-bigquery==0.29.0
requests>=2.18.0
agate>=1.6,<2
jsonschema==2.6.0
